.table {
  $block-name: &; // #{$block-name}__element {}
  font-size: 16px;
  line-height: 35px;
  color: #515151;

  tr {
    td {
      border: none;
      padding-left: 15px;
      padding-right: 15px;

      &:last-child {
        text-align: right;
      }
    }
  }

  thead {
    background-color: #fec07a;
    font-family: $font-pt-serif;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;

    tr {
      td {
      }
    }

    & + tbody {
      tr {
        &:first-child {
          td {
            padding-top: 14px;
            padding-bottom: 7px;
          }
        }

        td {
        }
      }
    }
  }

  tbody {
    box-shadow: inset 0px 0px 0px 3px #edf2f5;

    tr {
      line-height: normal;

      &:nth-of-type(odd) {
        background-color: #edf2f5;
      }

      td {
        padding-top: 10px;
        // padding-bottom: 2px;
        padding-bottom: 7px;
      }
    }
  }

  .text-price {
    font-family: $font-pt-serif;
    color: #ef7317;
    font-size: 18px;
    // line-height: 35px;
    line-height: 16px;
    font-weight: bold;
    white-space: nowrap;
  }

  &--price {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 35px;
  }
}
