.view-article {
  $block-name: &; // #{$block-name}__element {}
  padding-bottom: 44px;

  &__title {
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &--license {
    #{$block-name} {
      &__title {
        @include media-breakpoint-up(md) {
          margin-bottom: 53px;
        }
      }
    }
  }

  &--articles {
    #{$block-name} {
      &__title {
        @include media-breakpoint-up(md) {
          margin-bottom: 32px;
        }
      }
    }
  }

  &--doctors {
    @include media-breakpoint-up(md) {
      padding-bottom: 32px;
    }

    #{$block-name} {
      &__title {
        @include media-breakpoint-up(md) {
          margin-bottom: 36px;
        }
      }
    }
  }

  &--reviews {
    @include media-breakpoint-up(md) {
    }

    #{$block-name} {
      &__title {
        @include media-breakpoint-up(md) {
          margin-bottom: 30px;
        }
      }
    }
  }
}
