.card-promo {
  $block-name: &; // #{$block-name}__element {}
  display: block;
  margin: 0px -15px 14px -15px;
  background-color: white;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    display: flex;
    width: 100%;
    height: 282px;
    margin: 0;
    align-items: flex-start;
    align-items: stretch;
    margin-bottom: 19px;
  }

  &:hover {
    background-color: #fec07a;

    #{$block-name} {
      &__description {
        &:after {
          background-image: url(../img/card-promo-static2.png);
          background-position: center right -100px;
        }
      }
    }
  }

  &__wrapper {
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 45px;
    }
  }

  &__block {
  }

  &__img {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-block;
      flex: 0 0 256px;
      width: 256px;
      padding: 7px 0px 7px 8px;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    &__block {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .img {
      position: absolute;
      width: auto;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
    }
  }

  &__description {
    flex: 1;
    padding: 24px 14px 20px 14px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;

    @include media-breakpoint-up(md) {
      padding: 43px 4px 43px 27px;
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 168px;
      z-index: -1;
      background-image: url(./../img/card-promo-static1.png);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: left;
      pointer-event: none;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__footer {
    flex-shrink: 0;
    padding-right: 70px;
  }

  &__type {
    font-family: $font-pt-serif;
    font-size: 18px;
    line-height: 20px;
    color: #515151;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 36px;

    @include media-breakpoint-up(md) {
      padding-bottom: 10px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 18px;
    color: #515151;
    padding-bottom: 37px;

    @include media-breakpoint-up(md) {
      padding-bottom: 15px;
    }
  }

  &__price {
    font-size: 24px;
    line-height: 20px;
    color: #515151;
  }

  &__pointer {
    position: absolute;
    bottom: 18px;
    right: 19px;
    width: 44px;
    height: 38px;
    // background-image: url(./../img/right-dark.svg);
    background-image: url(./../img/pointer-grey.png);
  }
}
