// Этот блок ответственнен за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

.h1,
h1 {
  font-family: $font-pt-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.8px;

  @include media-breakpoint-up(lg) {
    font-size: 37px;
    line-height: 41px;
    letter-spacing: normal;
  }
}

.h2,
h2 {
  font-family: $font-pt-serif;
  font-size: 24px;
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
}

.h3,
h3 {
  font-family: $font-pt-serif;
  font-size: 24px;
  font-weight: bold;

  @include media-breakpoint-up(lg) {
  }
}

.h4,
h4 {
  @include media-breakpoint-up(lg) {
  }
}

p,
.text {
  @include media-breakpoint-up(lg) {
  }
}

a,
.link {
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}
