// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {
  $block-name: &; // #{$block-name}
  position: relative;
  padding-top: 18px;
  
  @include media-breakpoint-up(sm) {
    padding-top: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid #edf2f5;
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    
  }
  @include media-breakpoint-up(xl) {
  }

  &__inner {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
  }

  &__info {
    display: none;
    width: 100%;
    background-color: #edf2f5;
    padding-top: 6px;
    padding-bottom: 7px;

    @include media-breakpoint-up(xs) {
    }
    @include media-breakpoint-up(sm) {
      
    }
    @include media-breakpoint-up(md) {
      
    }
    @include media-breakpoint-up(lg) {
      display: block;
    }

    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        & > span {
          vertical-align: middle;
          color: #7a828c;
        }
      }
    }

    .icon {
      margin-right: 3px;

      &.icon-location {
        margin-left: -2px;
        margin-right: 3px;
      }

      &.icon-clock {
        margin-right: 6px;
        margin-left: 0px;
      }

      &.icon-phone {
        margin-right: 8px;
        margin-left: 0px;
      }
    }

    &--mobile {
      @include media-breakpoint-down(lg) {
        display: block;
        padding: 0;
        background-color: white;
      }

      #{$block-name} {
        &__info {
          &__list {
            @include media-breakpoint-down(lg) {
              display: block;
              font-size: 16px;
              line-height: 33px;
              color: #7a828c;
              text-align: center;
            }

            li {
              @include media-breakpoint-down(lg) {
                margin-bottom: -4px;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }

  &__main {
    width: 100%;

    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: -3px;
    }

    &__wrapper {
      width: 100%;
      margin-bottom: 12px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        border-bottom: 2px solid #edf2f5;
      }
    }
  }

  &__call {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: -0.1px;

    & > * {
      &:after {
        content: '';
        margin-left: 15px;
        margin-right: 15px;
        width: 1px;
        height: 30px;
        background: black;
        display: inline-block;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &__phone {
      display: flex;
      align-items: center;
      font-family: $font-pt-serif;
      font-size: 17px;
      color: #515151;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
      }

      &:hover,
      &:focus {
        color: #515151;
      }
    }
    &__text {
      color: #ff961a;
      font-size: 14px;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: #ff961a;
      }
    }

    &--mobile {
      justify-content: center;

      & > * {
        &:after {
          display: none;
        }
      }

      .select-promo {
        margin-left: 10px;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-left: 22px;

    @include media-breakpoint-up(sm) {
      margin-left: 0;
      margin-top: 5px;
    }

    &--footer {
      @include media-breakpoint-down(lg) {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 18px;
      }
    }
  }

  &__nav-quick {
    display: none;
    margin-top: 15px;

    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }

  &__nav {
    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    &__wrapper {
      width: 100%;

      .container {
        @include media-breakpoint-up(sm) {}
      }
    }

    &__order {
      display: none;
      white-space: nowrap;
      color: white !important;
      font-size: 14px;
      line-height: 32px;
      font-weight: bold;
      text-align: center !important;
      width: 193px;
      height: 45px;
      
      @include media-breakpoint-up(sm) {
        display: inline-block;
        line-height: normal;
      }
    }

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px -14px;

      @include media-breakpoint-up(sm) {
        margin: 0;
      }

      & > .dropdown {
        @include media-breakpoint-down(sm) {
          width: 50%;
          margin: 0px 2.5px;
        }

        & > .btn {
          @include media-breakpoint-down(sm) {
            width: 100%;
            height: 46px;
          }
        }
      }
    }

    &--footer {
      @include media-breakpoint-down(lg) {
        text-align: center;
        display: block;
      }
      @include media-breakpoint-up(sm) {
        margin-top: 9px;
        align-items: center !important;
      }

      & > .btn {
        margin-top: 21px;

        @include media-breakpoint-up(xl) {
          margin-top: -8px;
        }
      }
    }
  }

  &__phone {
    margin-top: 4px;
    width: 100%;
    font-family: $font-pt-serif;
    z-index: 3;
    background-color: #edf2f5;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 5px 0px 5px 0px;
      font-size: 26px;
      line-height: 38.77px;
      color: #515151;
      font-weight: bold;

      &:hover, &:focus {
        color: #515151;
        text-decoration: none;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }
}
