.profile-card {
  $block-name: &; // #{$block-name}__element {}
  flex: 0 0 209px;
  margin-left: 14px;
  margin-right: 11px;

  &:hover {
    #{$block-name}__img {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    display: flex;
    padding: 15px 0px 0px 0px;

    @include media-breakpoint-up(xl) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &__img {
    display: block;
    height: 282px;
    position: relative;
    overflow: hidden;
    border-bottom: 7px solid #fec07a;
    background-position: center;
    background-size: cover;
    transition: transform cubic-bezier(0.39, 0.58, 0.57, 1) 150ms;
  }

  &__description {
    padding-top: 22px;
    padding-right: 10px;
    padding-bottom: 22px;
  }

  &__title {
    display: inline-block;
    font-family: $font-pt-serif;
    font-size: 18px;
    line-height: 20px;
    color: #515151;
    font-weight: bold;
    margin-bottom: 2px;

    &:hover, &:focus {
      color: #515151;
    }
  }

  &__position {
    font-size: 16px;
    line-height: 18px;
    color: #515151;
  }
}
