.icon-location {
  fill: #ff961a;

  &--mini {
    width: 20px;
    height: 20px;
  }
}

.icon-clock {
  fill: #ff961a;

  &--mini {
    width: 20px;
    height: 20px;
  }
}

.icon-phone {
  width: 20px;
  height: 20px;
  fill: #ff961a;
}

.icon-lang-ru {
  @include sprite($lang-ru);
  display: inline-block;
}

.icon-lang-en {
  @include sprite($lang-en);
  display: inline-block;
}

.icon-burger {
  @include sprite($burger);
}

.icon-close {
  @include sprite($close);
}
