// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$burger-white-name: 'burger-white';
$burger-white-x: 0px;
$burger-white-y: 76px;
$burger-white-offset-x: 0px;
$burger-white-offset-y: -76px;
$burger-white-width: 25px;
$burger-white-height: 23px;
$burger-white-total-width: 145px;
$burger-white-total-height: 137px;
$burger-white-image: '../img/sprite-0054446623126861216.png';
$burger-white: (0px, 76px, 0px, -76px, 25px, 23px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'burger-white', );
$burger-name: 'burger';
$burger-x: 29px;
$burger-y: 76px;
$burger-offset-x: -29px;
$burger-offset-y: -76px;
$burger-width: 25px;
$burger-height: 23px;
$burger-total-width: 145px;
$burger-total-height: 137px;
$burger-image: '../img/sprite-0054446623126861216.png';
$burger: (29px, 76px, -29px, -76px, 25px, 23px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'burger', );
$close-white-name: 'close-white';
$close-white-x: 83px;
$close-white-y: 76px;
$close-white-offset-x: -83px;
$close-white-offset-y: -76px;
$close-white-width: 21px;
$close-white-height: 21px;
$close-white-total-width: 145px;
$close-white-total-height: 137px;
$close-white-image: '../img/sprite-0054446623126861216.png';
$close-white: (83px, 76px, -83px, -76px, 21px, 21px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'close-white', );
$close-name: 'close';
$close-x: 124px;
$close-y: 0px;
$close-offset-x: -124px;
$close-offset-y: 0px;
$close-width: 21px;
$close-height: 21px;
$close-total-width: 145px;
$close-total-height: 137px;
$close-image: '../img/sprite-0054446623126861216.png';
$close: (124px, 0px, -124px, 0px, 21px, 21px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'close', );
$dropdown-dark-name: 'dropdown-dark';
$dropdown-dark-x: 124px;
$dropdown-dark-y: 92px;
$dropdown-dark-offset-x: -124px;
$dropdown-dark-offset-y: -92px;
$dropdown-dark-width: 10px;
$dropdown-dark-height: 5px;
$dropdown-dark-total-width: 145px;
$dropdown-dark-total-height: 137px;
$dropdown-dark-image: '../img/sprite-0054446623126861216.png';
$dropdown-dark: (124px, 92px, -124px, -92px, 10px, 5px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'dropdown-dark', );
$dropdown-pointer-white-name: 'dropdown-pointer-white';
$dropdown-pointer-white-x: 92px;
$dropdown-pointer-white-y: 103px;
$dropdown-pointer-white-offset-x: -92px;
$dropdown-pointer-white-offset-y: -103px;
$dropdown-pointer-white-width: 12px;
$dropdown-pointer-white-height: 9px;
$dropdown-pointer-white-total-width: 145px;
$dropdown-pointer-white-total-height: 137px;
$dropdown-pointer-white-image: '../img/sprite-0054446623126861216.png';
$dropdown-pointer-white: (92px, 103px, -92px, -103px, 12px, 9px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'dropdown-pointer-white', );
$dropdown-pointer-name: 'dropdown-pointer';
$dropdown-pointer-x: 76px;
$dropdown-pointer-y: 103px;
$dropdown-pointer-offset-x: -76px;
$dropdown-pointer-offset-y: -103px;
$dropdown-pointer-width: 12px;
$dropdown-pointer-height: 9px;
$dropdown-pointer-total-width: 145px;
$dropdown-pointer-total-height: 137px;
$dropdown-pointer-image: '../img/sprite-0054446623126861216.png';
$dropdown-pointer: (76px, 103px, -76px, -103px, 12px, 9px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'dropdown-pointer', );
$dropdown-name: 'dropdown';
$dropdown-x: 108px;
$dropdown-y: 103px;
$dropdown-offset-x: -108px;
$dropdown-offset-y: -103px;
$dropdown-width: 10px;
$dropdown-height: 5px;
$dropdown-total-width: 145px;
$dropdown-total-height: 137px;
$dropdown-image: '../img/sprite-0054446623126861216.png';
$dropdown: (108px, 103px, -108px, -103px, 10px, 5px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'dropdown', );
$email-name: 'email';
$email-x: 19px;
$email-y: 103px;
$email-offset-x: -19px;
$email-offset-y: -103px;
$email-width: 16px;
$email-height: 13px;
$email-total-width: 145px;
$email-total-height: 137px;
$email-image: '../img/sprite-0054446623126861216.png';
$email: (19px, 103px, -19px, -103px, 16px, 13px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'email', );
$email-active-name: 'email_active';
$email-active-x: 39px;
$email-active-y: 103px;
$email-active-offset-x: -39px;
$email-active-offset-y: -103px;
$email-active-width: 16px;
$email-active-height: 13px;
$email-active-total-width: 145px;
$email-active-total-height: 137px;
$email-active-image: '../img/sprite-0054446623126861216.png';
$email-active: (39px, 103px, -39px, -103px, 16px, 13px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'email_active', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 122px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: -122px;
$icon-facebook-width: 8px;
$icon-facebook-height: 15px;
$icon-facebook-total-width: 145px;
$icon-facebook-total-height: 137px;
$icon-facebook-image: '../img/sprite-0054446623126861216.png';
$icon-facebook: (0px, 122px, 0px, -122px, 8px, 15px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'icon-facebook', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 0px;
$icon-instagram-y: 103px;
$icon-instagram-offset-x: 0px;
$icon-instagram-offset-y: -103px;
$icon-instagram-width: 15px;
$icon-instagram-height: 15px;
$icon-instagram-total-width: 145px;
$icon-instagram-total-height: 137px;
$icon-instagram-image: '../img/sprite-0054446623126861216.png';
$icon-instagram: (0px, 103px, 0px, -103px, 15px, 15px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'icon-instagram', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 124px;
$icon-vk-y: 73px;
$icon-vk-offset-x: -124px;
$icon-vk-offset-y: -73px;
$icon-vk-width: 20px;
$icon-vk-height: 15px;
$icon-vk-total-width: 145px;
$icon-vk-total-height: 137px;
$icon-vk-image: '../img/sprite-0054446623126861216.png';
$icon-vk: (124px, 73px, -124px, -73px, 20px, 15px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'icon-vk', );
$lang-en-name: 'lang-en';
$lang-en-x: 124px;
$lang-en-y: 25px;
$lang-en-offset-x: -124px;
$lang-en-offset-y: -25px;
$lang-en-width: 20px;
$lang-en-height: 20px;
$lang-en-total-width: 145px;
$lang-en-total-height: 137px;
$lang-en-image: '../img/sprite-0054446623126861216.png';
$lang-en: (124px, 25px, -124px, -25px, 20px, 20px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'lang-en', );
$lang-ru-name: 'lang-ru';
$lang-ru-x: 124px;
$lang-ru-y: 49px;
$lang-ru-offset-x: -124px;
$lang-ru-offset-y: -49px;
$lang-ru-width: 20px;
$lang-ru-height: 20px;
$lang-ru-total-width: 145px;
$lang-ru-total-height: 137px;
$lang-ru-image: '../img/sprite-0054446623126861216.png';
$lang-ru: (124px, 49px, -124px, -49px, 20px, 20px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'lang-ru', );
$location-name: 'location';
$location-x: 108px;
$location-y: 76px;
$location-offset-x: -108px;
$location-offset-y: -76px;
$location-width: 10px;
$location-height: 13px;
$location-total-width: 145px;
$location-total-height: 137px;
$location-image: '../img/sprite-0054446623126861216.png';
$location: (108px, 76px, -108px, -76px, 10px, 13px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'location', );
$logo-dark-name: 'logo-dark';
$logo-dark-x: 0px;
$logo-dark-y: 38px;
$logo-dark-offset-x: 0px;
$logo-dark-offset-y: -38px;
$logo-dark-width: 120px;
$logo-dark-height: 34px;
$logo-dark-total-width: 145px;
$logo-dark-total-height: 137px;
$logo-dark-image: '../img/sprite-0054446623126861216.png';
$logo-dark: (0px, 38px, 0px, -38px, 120px, 34px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'logo-dark', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 120px;
$logo-height: 34px;
$logo-total-width: 145px;
$logo-total-height: 137px;
$logo-image: '../img/sprite-0054446623126861216.png';
$logo: (0px, 0px, 0px, 0px, 120px, 34px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'logo', );
$phone-name: 'phone';
$phone-x: 59px;
$phone-y: 103px;
$phone-offset-x: -59px;
$phone-offset-y: -103px;
$phone-width: 13px;
$phone-height: 13px;
$phone-total-width: 145px;
$phone-total-height: 137px;
$phone-image: '../img/sprite-0054446623126861216.png';
$phone: (59px, 103px, -59px, -103px, 13px, 13px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'phone', );
$play-name: 'play';
$play-x: 58px;
$play-y: 76px;
$play-offset-x: -58px;
$play-offset-y: -76px;
$play-width: 21px;
$play-height: 22px;
$play-total-width: 145px;
$play-total-height: 137px;
$play-image: '../img/sprite-0054446623126861216.png';
$play: (58px, 76px, -58px, -76px, 21px, 22px, 145px, 137px, '../img/sprite-0054446623126861216.png', 'play', );
$spritesheet-width: 145px;
$spritesheet-height: 137px;
$spritesheet-image: '../img/sprite-0054446623126861216.png';
$spritesheet-sprites: ($burger-white, $burger, $close-white, $close, $dropdown-dark, $dropdown-pointer-white, $dropdown-pointer, $dropdown, $email, $email-active, $icon-facebook, $icon-instagram, $icon-vk, $lang-en, $lang-ru, $location, $logo-dark, $logo, $phone, $play, );
$spritesheet: (145px, 137px, '../img/sprite-0054446623126861216.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
