// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  $block-name: &; // #{$block-name}__element {}

  @include media-breakpoint-up(lg) {
  }

  &-primary {
    font-size: 14px;
    color: #ffffff;
    background: rgb(255,145,16);
    background: linear-gradient(0deg, rgba(255,145,16,1) 0%, rgba(255,167,64,1) 100%);
    border: none;
    padding: 12px 26px 12px 26px;
    border-radius: 21px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    box-shadow: inset 0px -2px 0px 0px #ef7317;
    outline: none !important;

    @include media-breakpoint-up(md) {
    }

    &:hover,
    &:focus {
      background: rgb(255,145,16);
      background: linear-gradient(90deg, rgba(255,145,16,1) 0%, rgba(255,167,64,1) 100%);
      box-shadow: inset 0px -2px 0px 0px #ef7317;
    }

    &:active {
    }

    &:not(:disabled):not(.disabled):active {
      background: rgb(255,145,16);
      background: linear-gradient(90deg, rgba(255,145,16,1) 0%, rgba(255,167,64,1) 100%);

      &:focus {
        box-shadow: inset 0px -2px 0px 0px #ef7317;
      }
    }
  }

  &-info {
    @include media-breakpoint-up(md) {
    }

    &:hover,
    &:focus {
    }
  }

  &-light {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;

    @include media-breakpoint-up(md) {
    }

    &:hover,
    &:focus {
    }

    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
      box-shadow: none;
    }
  }

  &.disabled,
  disabled {
  }
}

.dropdown-toggle {
  &:after {
    @include sprite($dropdown-pointer);
    vertical-align: middle;
    border: none;
    margin-top: -2px;
    margin-left: 2px;
  }
}
