.address-promo {
  $block-name: &; // #{$block-name}__element {}
  background-color: white;
  padding: 0;
  font-family: $font-pt-serif;
  font-weight: bold;
  text-align: center;
  margin: 0px -15px 8px -15px;
  padding: 11px 15px 6px 15px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09);
  height: 100%;

  @include media-breakpoint-down(lg) {
    font-size: 0;
    height: auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 0;
    text-align: left;
    min-height: 137px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 28px 10px 28px 32px;
  }

  &__title {
    font-size: 24px;
    line-height: 20px;
    color: #fec07a;
    margin-bottom: 7px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 21px;
    }
  }

  &__info {
    font-size: 19px;
    line-height: 33px;
    color: #515151;

    @include media-breakpoint-up(lg) {
    }

    .icon {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  &--contacts {
    @include media-breakpoint-up(lg) {
      padding: 31px 10px 28px 34px;
    }

    #{$block-name} {
    }
  }
}
