.dropdown {
  $block-name: &; // #{$block-name}__element {}

  &--service {
    & > .dropdown-toggle {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 19px;
      font-weight: bold;
      background-color: #ff9110;
      height: 46px;
      color: white;
      outline: none;
      box-shadow: none;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
        line-height: 33px;
        font-weight: normal;
        display: none;
      }

      &:after {
        @include media-breakpoint-down(lg) {
          content: "";
          display: inline-block;
          @include sprite($dropdown-pointer-white);
          vertical-align: middle;
          border: none;
          margin-top: -2px;
          margin-left: 10px;
        }

      
        // @include media-breakpoint-up(lg) {
        //   display: none;
        // }
      }
    }

    .droppping-menu {
      @include media-breakpoint-down(lg) {
        position: absolute;
        right: 0px;
        z-index: 4;
        background: white;
        width: 312px;
        margin-top: 4px;
        min-width: 100%;
      }
      @include media-breakpoint-up(xl) {
        display: flex;
      }
    }

    & > .dropdown-menu {
      width: 312px;
      right: 0px;
      left: auto;
      padding: 0;
      margin: 0;
      margin-top: 4px;
      border-radius: 0px;
      border: none;
      min-width: 100%;
      
      @include media-breakpoint-up(lg) {
        margin-top: auto;
        width: auto;
        position: relative;
        top: auto;
        float: none;
        display: flex;
        min-width: auto;
        font-size: inherit;
        border-radius: 0;
        background: transparent;
      }
    }
  }

  &-submenu {
    &__link {
      position: relative;
      white-space: nowrap;
      
      &:after {
        content: "";
        display: inline-block;
        @include sprite($dropdown-pointer);
        vertical-align: middle;
        border: none;
        margin-top: -2px;
        margin-left: 2px;
      }
    }

    .dropdown-menu {
      @include media-breakpoint-up(lg) {
      }

      .btn {
        
      }
    }
  }

  &-menu {
    border-radius: 0;
  }

  &__price {
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }

    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 19px;
      font-weight: bold;
      background-color: #ff9110;
      height: 46px;
      color: white;
      width: 100%;

      @include media-breakpoint-up(lg) {
        display: none;
      }
      
      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      border: none;

      @include media-breakpoint-up(lg) {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }
}
