.menu-mobile {
  $block-name: &; // #{$block-name}__element {}

  .btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 11px 14px 11px 12px;
    font-size: 19px;
    font-weight: bold;
    box-shadow: none !important;
    
    @include media-breakpoint-down(xl) {
      background-color: #ff9110 !important;
      color: white !important;
      height: 45px;
    }
    @include media-breakpoint-up(xl) {
      background-color: transparent !important;
      color: #4a545b !important;
      font-size: 16px;
      padding-left: 0;
      height: 45px;
    }

    &:after {
      display: none;
    }

    &[aria-expanded="true"] {
      .icon {
        @include sprite($close-white);
        margin-right: 14px;

        @include media-breakpoint-up(xl) {
          @include sprite($close);
        }
      }
    }
  }

  .icon {
    display: inline-block;
    @include sprite($burger-white);
    margin-right: 10px;

    @include media-breakpoint-up(xl) {
      @include sprite($burger);
      margin-right: 10px;
    }
  }

  &.show {
    .btn {
      background-color: transparent;
      color: #4a545b;
    }
  }
}
