.view-block {
  $block-name: &; // #{$block-name}__element {}

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
      padding: 0;
    }
  }

  &__content {
    margin-bottom: 4px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 56px;
    }
  }

  &__btn {
    text-align: center;

    .btn {
      min-width: 196px;
    }
  }

  &--services {
    padding: 42px 0px 40px 0px;

    @include media-breakpoint-up(lg) {
      padding-top: 68px;
      padding-bottom: 62px;
    }

    #{$block-name} {
      &__title {
      }
      &__content {
        @include media-breakpoint-up(lg) {
          margin-bottom: 61px;
        }
      }
    }
  }

  &--list {
    padding-top: 6px;
    padding-bottom: 25px;

    @include media-breakpoint-up(lg) {
      padding-top: 76px;
    }
  }

  &--doctors {
    padding-top: 5px;
    position: relative;
    z-index: -1;

    @include media-breakpoint-up(lg) {
      padding-top: 46px;
    }

    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-image: url(./../img/main-background-img1.png);
      background-position: center;
      height: 1037px;
      width: 100%;
      z-index: -1;
    }

    #{$block-name} {
      &__content {
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          margin-bottom: 75px;
        }
      }
    }
  }

  &--review {
    padding-top: 43px;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      padding-top: 77px;
      padding-bottom: 61px;
    }

    #{$block-name} {
      &__title {
        margin-bottom: 22px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 48px;
        }
      }
      &__content {
        @include media-breakpoint-up(lg) {
          margin-bottom: 50px;
        }
      }
    }
  }

  &--serice-article {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    #{$block-name} {
      &__title {
        margin-bottom: 22px;

        @include media-breakpoint-up(lg) {
          // margin-bottom: 48px;
        }
      }
      &__content {
        @include media-breakpoint-up(lg) {
          margin-bottom: 32px;
        }
      }
    }
  }

  &--license {
    padding-bottom: 24px;

    @include media-breakpoint-up(lg) {
    }

    &--wrapper {
      padding-top: 21px;
      padding-bottom: 24px;
      background-color: #dde1e4;
      margin-bottom: 24px;

      @include media-breakpoint-up(lg) {
        padding-top: 39px;
      }
    }

    #{$block-name} {
      &__title {
        margin-bottom: 37px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 31px;
        }
      }
    }
  }

  &--article {
    padding-top: 6px;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      padding-top: 61px;
      padding-bottom: 0;
    }

    #{$block-name} {
      &__title {
        margin-bottom: 31px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 40px;
        }
      }
      &__content {
        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
        }
      }
    }
  }

  &--contacts {
    padding-top: 15px;
    margin-bottom: -7px;

    @include media-breakpoint-up(lg) {
      padding-top: 64px;
      margin-bottom: 0;
    }

    #{$block-name} {
      &__title {
        margin-bottom: 17px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 41px;
        }
      }
      &__content {
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          margin-bottom: 51px;
        }
      }
    }
  }
}
