.nav-quick {
  $block-name: &; // #{$block-name}__element {}
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
  line-height: normal;

  li {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    border-right: 2px solid #edf2f5;
    max-width: 150px;
    width: 100%;

    @include media-breakpoint-up(xl) {
      max-width: none;
      width: 169px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
    }
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .icon {
    height: 38px;
    fill: #fec07a;
  }

  a {
    color: #7a828c;

    &:hover {
      color: #ff961a;

      .icon {
        fill: #ff961a;
      }
    }

    &:focus {
    }
  }

  &__text {
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    font-weight: bold;

    @include media-breakpoint-up(xl) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
