.review-card {
  $block-name: &; // #{$block-name}__element {}
  background-color: #edf2f5;
  border: 7px solid white;
  padding: 13px 8px 7px 8px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  font-family: $font-pt-serif;
  position: relative;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    padding: 15px 20px 15px 23px;
    min-height: 380px;
  }

  &__rate {
    color: #ff9110;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
  }

  &__icon {
    display: inline-block;
    background-color: #ff9110;
    color: white;
    font-size: 18px;
    line-height: 20px;
    height: 27px;
    min-width: 49px;
    text-align: center;
    line-height: 29px;
    padding: 0px 5px;
    margin-right: 8px;
    margin-bottom: 29px;
  }

  &__date {
    position: absolute;
    top: 19px;
    right: 7px;
    font-size: 14px;
    line-height: 20px;
    color: #515151;
    font-weight: bold;

    @include media-breakpoint-up(lg) {
      top: 22px;
      right: 22px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 20px;
    color: #515151;
    font-weight: bold;
    margin-bottom: 19px;
  }

  p {
    font-family: $font-arial;
    color: #515151;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 19px;
  }

  &--article {
    @include media-breakpoint-up(lg) {
      padding-top: 31px;
      min-height: auto;
      padding-bottom: 12px;
      margin-bottom: 0;
    }

    #{$block-name} {
      &__title {
      }
      &__item {
        &__description {
          max-width: 946px;
          margin: 0 auto;
          position: relative;
        }
      }
      &__date {
        @include media-breakpoint-up(lg) {
          right: 0px;
          top: 5px;
        }
      }
    }
  }

  &--dark {
    background-color: #dcdcdc;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 235px;
      background-image: url('./../img/review-icon.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: -33px -37px;
    }

    #{$block-name} {
      &__date {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin-bottom: 12px;

        @include media-breakpoint-up(lg) {
        }
      }
    }
  }
}
