.view-main {
  $block-name: &; // #{$block-name}__element {}
  padding-top: 30px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: inset 0px 0px 25px 0px rgba(201, 216, 225, 0.5);

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-start;
    padding-top: 78px;
    height: 670px;
  }

  &__description {
    max-width: 700px;
  }

  .h1 {
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 64px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    @include media-breakpoint-up(md) {
      margin-bottom: 31px;
    }

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 7px;
  
      @include media-breakpoint-up(md) {
        width: 337px;
        padding-right: 20px;
        margin-bottom: 24px;
      }
    }

    &__icon {
      flex: 0 0 85px;
      position: relative;

      @include media-breakpoint-up(md) {
        flex: 0 0 88px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background-color: #ff961a;
        opacity: 0.5;
      }

      .icon {
        width: 80px;
        height: 90px;
        fill: #505050;
      }
    }

    &__text {
      padding-top: 5px;

      p {
        font-size: 14px;
        color: #515151;
        line-height: 18px;
      }
    }

    &__title {
      font-size: 16px;
      line-height: 18px;
      color: #7a828c;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 2px;
    }
  }

  .btn {
    display: none;
    margin-top: 20px;
    
    @include media-breakpoint-up(md) {
      margin-top: 0;
      display: inline-block;
      min-width: 327px;
      font-size: 16px;
      letter-spacing: -0.1px;
      padding-top: 12px;
      padding-bottom: 10px;
    }
  }
}
