.form {
  $block-name: &; // #{$block-name}__element {}

  &-group {
    margin-bottom: 13px;
  }

  &-control {
    border: none;
    background-color: #edf2f5;
    font-size: 16px;
    line-height: 24px;
    color: #7a828c;
    height: 36px;
    letter-spacing: -0.5px;
    font-size: 17px;
    padding: 8px 13px 5px 13px;
    border-radius: 0;

    &:focus {
      box-shadow: none;
      background-color: #edf2f5;
    }
  }
}

textarea.form-control {
  height: 125px;
}

.form-check {
  padding-left: 19px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  color: #7a828c;

  input {
    position: absolute;
    opacity: 0;

    &:checked ~ label {
      &:after {
        opacity: 1;
      }
    }
  }

  label {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: -19px;
      width: 12px;
      height: 12px;
      background: white;
      border: 1px solid #c6c6c6;
    }

    &:after {
      content: '';
      opacity: 0;
      position: absolute;
      left: -19px;
      top: 7px;
      @include sprite($dropdown-pointer);
    }

    a {
      color: #ff9110;
    }
  }
}
